<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display order details</h1>
    <table border="2px">
        <tr>
            <th>orders_id</th>
            <th>no_of_orders</th>
            <th>cost</th>
        </tr>
        {% for od in orderdetails %}

          <tr>
            <td>{{od.orderid}}</td>
            <td>{{od.no_of_orders}}</td>
            <td>{{od.cost}}</td>
           
          </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>